/* 공통 테이블 구조 */
.rank-table {
  width: 100%;
  border-collapse: collapse;
  max-height: 400px;
  display: block;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.rank-table::-webkit-scrollbar {
  display: none;
}

.rank-table thead {
  visibility: collapse;
}

.rank-table tbody {
  display: table;
  width: 100%;
}

.rank-table tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.rank-table td {
  padding: 16px 12px;
  text-align: center;
}

.rank-table td:nth-child(1) {
  width: 10%;
}

.rank-table td:nth-child(2) {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rank-table td:nth-child(3) {
  width: 10%;
}

.rank-table td span {
  display: block;
  font-weight: 500;
}

/* 1. Clean White */
.style-clean {
  background: white;
}

.style-clean td {
  border-bottom: 1px solid #f0f0f0;
  color: #333;
}

.style-clean tr:last-child td {
  border-bottom: none;
}

.style-clean td:nth-child(1) span {
  color: #666;
  font-size: 18px;
  font-weight: 600;
}

.style-clean td:nth-child(3) span {
  color: #2563eb;
  font-weight: 600;
}

.rank-me {
  display: flex;
}

.rank-me,
.style-clean .rank-mine {
  background-color: rgb(255, 244, 230);
}

.rank-me div {
  padding: 16px 12px;
  text-align: center;
}

.rank-me div:nth-child(1) {
  width: 10%;
}

.rank-me div:nth-child(2) {
  width: 80%;
}

.rank-me div:nth-child(3) {
  width: 10%;
}

.rank-me div:nth-child(1) span {
  color: #666;
  font-size: 18px;
  font-weight: 600;
}

.rank-me div:nth-child(3) span {
  color: #2563eb;
  font-weight: 600;
}

.rank-me div {
  padding: 16px 12px;
}
