.timer {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -2px;
  margin: 0;
  line-height: 1;
}

@media (min-width: 768px) {
  .timer {
    font-size: 3rem;
  }
}

.timer span {
  color: #929292;
  font-weight: 300;
}